<div class="sidebar">
  <div class="about">
    <img src="/assets/images/shield.png"/>
    <h2>HCMR</h2>
    <p>The Harvard College Mathematics Review (HCMR) is an annual journal of expository mathematical articles written and edited by undergraduates. Its content is targeted at advanced undergraduates studying mathematics and related fields at colleges across the nation.</p>
  </div>
  <div class="contact">
    <span class="contact-center">
      <h2>Contact</h2>
    </span>
    <div class="contact-info">
      <span class="title">
        Co-Editors-in-Chief
      </span>
      <span class="people">
        Levent Alpoge and Ryan Rodriguez
      </span>
      <span class="email">
        hcmr@hcs.harvard.edu
      </span>
      <span class="title">
        Article Submission
      </span>
      <span class="people">
        Seth Neel, Articles Editor
      </span>
      <span class="email">
        hcmr@hcs.harvard.edu
      </span>
      <span class="people">
        Josh Pfeffer, Features Editor
      </span>
      <span class="email">
        hcmr@hcs.harvard.edu
      </span>
      <span class="title">
        Problem Submission
      </span>
      <span class="people">
        Patrick Ryan, Problems Editor
      </span>
      <span class="email">
        hcmr-problems@hcs.harvard.edu
      </span>
      <span class="title">
        Problem Solutions
      </span>
      <span class="people">
        Patrick Ryan, Problems Editor
      </span>
      <span class="email">
        hcmr-solutions@hcs.harvard.edu
      </span>
      <span class="title">
        Webmaster
      </span>
      <span class="people">
        David Ding
      </span>
      <span class="email">
        hcmr@hcs.harvard.edu
      </span>
      hcmr-subscribe@hcs.harvard.edu
    </div>
  </div>
</div>
